<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title><%=title%></title>

		<meta name="description" content="Tcl settlements" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<link href='<%-setting.filePath%>/css/jquery-ui.min.css' rel="stylesheet" />
		<link href='<%-setting.filePath%>/css/jquery-ui.custom.min.css' rel="stylesheet" />
		<link href='<%-setting.filePath%>/css/datepicker.min.css' rel="stylesheet" />
		<link href='<%-setting.filePath%>/css/bootstrap-datetimepicker.min.css' rel="stylesheet" />
		<link href='<%-setting.filePath%>/css/ui.jqgrid.css' rel="stylesheet" />
		<link href='<%-setting.filePath%>/css/bootstrap-switch.min.css' rel="stylesheet" />
		<%- include('public/header') %>
		<style>
			.lm-5{
				margin-top: 5px;
			}
			.row{
				margin: 4px 0;
			}
			@media(min-width: 768px) {
				.modal-dialog{
					width: 900px!important;
				}
			}
		</style>
	</head>
<body class="no-skin">
<%- include('public/nav')%>

<div class="main-container" id="main-container">
	<%- include('public/side') %>
	<div class="main-content">
		<div id="content" class="main-content-inner">
		<div class="page-content">
			<div class="row">
			<div class="col-xs-12">
				<div class="widget-box">
					<div class="widget-header">
						<h4 class="widget-title">搜索：</h4>
						<div class="widget-toolbar">
						<a href="#" data-action="collapse"><i class="ace-icon fa fa-chevron-up"></i></a>
						</div>
					</div>
					<div class="widget-body">
						<div class="widget-main">
							<div class="row">
								<div class="col-xs-12 col-sm-4">
									<label class="col-sm-3 control-label no-padding lm-5" for="payOrderId">交易订单号:</label>
									<div class="col-sm-9">
										<input type="text" id="payOrderId" class="form-control col-sm-5 input-sm" name="payOrderId">
									</div>
								</div>
								<div class="col-xs-12 col-sm-4">
									<label class="col-sm-3 control-label no-padding lm-5" for="outOrderId">商户订单号:</label>
									<div class="col-sm-9">
										<input type="text" id="outOrderId" class="form-control col-sm-5 input-sm" name="outOrderId">
									</div>
								</div>
								<div class="col-xs-12 col-sm-4">
									<label class="col-sm-3 control-label no-padding lm-5" for="merchantId">商户ID:</label>
									<div class="col-sm-9">
										<input type="text" id="merchantId" class="form-control col-sm-5 input-sm" name="merchantId">
									</div>
								</div>
								<div class="col-xs-12 col-sm-4">
									<label class="col-sm-3 control-label no-padding lm-5" for="merchantName">商户名称:</label>
									<div class="col-sm-9">
										<input type="text" id="merchantName" class="form-control col-sm-5 input-sm" name="merchantName">
									</div>
								</div>
								<div class="col-xs-12 col-sm-4">
									<label class="col-sm-3 no-padding lm-5" for="payChannel">支付渠道:</label>
									<div class="col-sm-9">
										<select class="form-control" id="payChannel" name="payChannel"> 
											<option value="">全部</option>   
								        	<option value="CYBS">CYBS</option>
								        	<option value="PAYPAL">PayPal</option>
								        	<option value="FORTUMO">Fortumo</option>
								        	<option value="AMX">AMX</option>
								        	<option value="TIMWE">Timwe</option>
								        	<option value="IFREE">Ifree</option>
								        	<option value="MCOIN">MCOIN</option>
								     	 </select>
									</div>
								</div>
								<div class="col-xs-12 col-sm-4">
									<label class="col-sm-3 no-padding lm-5" for="currencyType">支付币种:</label>
									<div class="col-sm-9">
										<select class="form-control" id="currencyType" name="currencyType"> 
											<option value="">全部</option>   
								        	<option value="USD">美元</option>
								        	<option value="EUR">欧元</option>
								        	<option value="CNY">人民币</option>
											<option value="RUB">卢布</option>
											<option value="MXN">比索</option>
								     	 </select>
									</div>
								</div>
								<div class="col-xs-12 col-sm-8 lm-5">
									 <label class="col-sm-2 no-padding lm-5">支付开始时间:</label>
									 <div class="col-sm-10">
                                         <div class="col-sm-12">
                                            <div class="input-group">
                                                <input type="text" class="input-sm form-control datepicker" id="startDate" name="startPayBeginTime" placeholder="from" data-date-format="yyyy-mm-dd hh:00:00" />
                                                <label for="startDate" class="input-group-addon"><i class="fa fa-calendar bigger-110"></i></label>
                                                <span class="input-group-addon" style="background:none; border:0 none; padding-left:3px; padding-right:3px;">-</span>
                                                <input type="text" class="input-sm form-control datepicker" name="startPayEndTime" id="endDate" placeholder="to" data-date-format="yyyy-mm-dd hh:00:00" />
                                                <label for="endDate" class="input-group-addon"><i class="fa fa-calendar bigger-110"></i></label>
                                          </div>
                                      </div>
									 </div>
								</div>
								<div class="col-xs-12 col-sm-4">
									<label class="col-sm-3 no-padding lm-5" for="payStatus">订单状态:</label>
									<div class="col-sm-9">
										<select class="form-control" id="payStatus" name="payStatus"> 
											<option value="">全部</option>
											<option value="0">待支付</option>   
								        	<option value="1">全额已支付</option>
								        	<option value="3">支付失败</option>
								        	<option value="8">支付关闭</option>
								        	<option value="5">退款中</option>
								        	<option value="6">退款失败</option>
								        	<option value="7">退款成功</option>
								     	 </select>
									</div>
								</div>
								<div class="col-xs-12 col-sm-8 lm-5">
									 <label class="col-sm-2 no-padding lm-5">支付结束时间:</label>
									 <div class="col-sm-10">
									  <div class="col-sm-12">
									  	<div class="input-group"><input type="text" class="input-sm form-control datepicker" name="payOverBeginTime" id="payOverBeginTime" placeholder="from" data-date-format="yyyy-mm-dd hh:00:00" /><label for="payOverBeginTime" class="input-group-addon"><i class="fa fa-calendar bigger-110"></i></label>
									  		<span class="input-group-addon" style="background:none; border:0 none; padding-left:3px; padding-right:3px;">-</span>
									  <input type="text" class="input-sm form-control datepicker" name="payOverEndTime" id="payOverEndTime" placeholder="to" data-date-format="yyyy-mm-dd hh:00:00" /><label for="payOverEndTime" class="input-group-addon"><i class="fa fa-calendar bigger-110"></i></label>
									  </div></div>
									 </div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-9">
									<button id="query-btn" class="btn btn-info btn-sm" type="button">
										<i class="ace-icon fa fa-check bigger-110"></i>
										查询
									</button>
									<button id="reset-btn" class="btn btn-info btn-sm" type="reset">
										<i class="ace-icon fa fa-undo bigger-110"></i>
										重置
									</button>
								</div>
								<div class="col-md-3 align-right">
									<button id="export-btn" class="btn btn-info btn-sm" type="button">
										<i class="ace-icon fa fa-file-excel-o bigger-110"></i>
										导出
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			</div><!-- end search box row -->

			<div class="row">
				<div id="grid_list" class="col-xs-12">
				</div>
			</div><!-- end grid row-->
		</div>
		</div>
	</div>
</div>
<div id="mask" class="widget-box-overlay hide"></div>

<script type="text/html" id="viewTpl">
<div class="row">
	<div class="col-xs-12 col-sm-6">
		<div class="col-sm-3 no-padding">交易订单号：</div>
		<div class="col-sm-9"><%%=data.payOrderId%></div>
	</div>
	<div class="col-xs-12 col-sm-6">
		<div class="col-sm-3 no-padding">源订单编号：</div>
		<div class="col-sm-9"><%%=data.sourcePayOrderId%></div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-6">
		<div class="col-sm-3 no-padding">交易流水号：</div>
		<div class="col-sm-9"><%%=data.tradeId%></div>
	</div>
	<div class="col-xs-12 col-sm-6">
		<div class="col-sm-3 no-padding">商户ID：</div>
		<div class="col-sm-9"><%%=data.merchantId%></div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-6">
		<div class="col-sm-3 no-padding">商户订单号：</div>
		<div class="col-sm-9"><%%=data.outOrderId%></div>
	</div>
	<div class="col-xs-12 col-sm-6">
		<div class="col-sm-3 no-padding">商户名称：</div>
		<div class="col-sm-9"><%%=data.merchantName%></div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-6">
		<div class="col-sm-3 no-padding">交易类型：</div>
		<div class="col-sm-9"><%%=data.tradeType%></div>
	</div>
	<div class="col-xs-12 col-sm-6">
		<div class="col-sm-3 no-padding">国家代码：</div>
		<div class="col-sm-9"><%%=data.countryCode%></div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-6">
		<div class="col-sm-3 no-padding">用户编号：</div>
		<div class="col-sm-9"><%%=data.payer%></div>
	</div>
	<div class="col-xs-12 col-sm-6">
		<div class="col-sm-3 no-padding">产品名称：</div>
		<div class="col-sm-9"><%%=data.productName%></div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-6">
		<div class="col-sm-3 no-padding">订单状态：</div>
		<div class="col-sm-9"><%%=data.payStatus%></div>
	</div>
	<div class="col-xs-12 col-sm-6">
		<div class="col-sm-3 no-padding">产品代码：</div>
		<div class="col-sm-9"><%%=data.productCode%></div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-6">
		<div class="col-sm-3 no-padding">支付渠道：</div>
		<div class="col-sm-9"><%%=data.payChannel%></div>
	</div>
	<div class="col-xs-12 col-sm-6">
		<div class="col-sm-3 no-padding">银行卡类型：</div>
		<div class="col-sm-9"><%%=data.bankCardType%></div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-6">
		<div class="col-sm-3 no-padding">支付币种：</div>
		<div class="col-sm-9"><%%=data.currencyType%></div>
	</div>
	<div class="col-xs-12 col-sm-6">
		<div class="col-sm-3 no-padding">银行账号：</div>
		<div class="col-sm-9"><%%=data.bankNum%></div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-6">
		<div class="col-sm-3 no-padding">订单金额：</div>
		<div class="col-sm-9"><%%=data.orderAmount%></div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-6">
		<div class="col-sm-3 no-padding">支付开始时间：</div>
		<div class="col-sm-9"><%%=data.startPayTime%></div>
	</div>
	<div class="col-xs-12 col-sm-6">
		<div class="col-sm-3 no-padding">税额：</div>
		<div class="col-sm-9"><%%=data.taxAmount%></div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-6">
		<div class="col-sm-3 no-padding">支付结束时间：</div>
		<div class="col-sm-9"><%%=data.payOverTime%></div>
	</div>
	<div class="col-xs-12 col-sm-6">
		<div class="col-sm-3 no-padding">运费：</div>
		<div class="col-sm-9"><%%=data.shippingAmount%></div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-12">
		<div class="col-sm-3 no-padding">订单备注：</div>
		<div class="col-sm-9"><%%=data.remark%></div>
	</div>
</div>
</script>

<%- include('public/footscript1') %>
<%- include('public/footscript2') %>

<script src='<%-setting.filePath%>/js/jquery-ui.custom.min.js'></script>
<script src='<%-setting.filePath%>/js/moment.min.js'></script>
<script src='<%-setting.filePath%>/js/bootstrap-datepicker.min.js'></script>
<script src='<%-setting.filePath%>/js/bootstrap-datetimepicker.min.js'></script>
<script src='<%-setting.filePath%>/js/jquery.jqGrid.min.js'></script>
<script src='<%-setting.filePath%>/js/grid.locale-cn.js'></script>
<script src='<%-setting.filePath%>/js/bootstrap-switch.min.js'></script>

<!-- process enter -->
<script>
seajs.use('order', function(m){
	m.init();
});
</script>
<%- include('public/footer') %>