<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title><%=title%></title>

		<meta name="description" content="Tcl settlements" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<link href='<%-setting.filePath%>/css/jquery-ui.min.css' rel="stylesheet" />
		<link href='<%-setting.filePath%>/css/jquery-ui.custom.min.css' rel="stylesheet" />
		<link href='<%-setting.filePath%>/css/datepicker.min.css' rel="stylesheet" />
		<link href='<%-setting.filePath%>/css/bootstrap-datetimepicker.min.css' rel="stylesheet" />
		<link href='<%-setting.filePath%>/css/ui.jqgrid.css' rel="stylesheet" />
		<link href='<%-setting.filePath%>/css/bootstrap-switch.min.css' rel="stylesheet" />
		<%- include('public/header') %>
		<style>
			.lm-5{
				margin-top: 5px;
			}
			.row{
				margin: 4px 0;
			}
			@media(min-width: 768px) {
				.modal-dialog{
					width: 900px!important;
				}
			}
		</style>
	</head>
<body class="no-skin">
<%- include('public/nav')%>

<div class="main-container" id="main-container">
	<%- include('public/side') %>
	<div class="main-content">
		<div id="content" class="main-content-inner">
		<div class="page-content">
			<div class="row">
			<div class="col-xs-12">
				<div class="widget-box">
					<div class="widget-header">
						<h4 class="widget-title">搜索：</h4>
						<div class="widget-toolbar">
						<a href="#" data-action="collapse"><i class="ace-icon fa fa-chevron-up"></i></a>
						</div>
					</div>
					<div class="widget-body">
						<div class="widget-main">
							<div class="row">
								<div class="col-xs-12 col-sm-4">
									<label class="col-sm-3 control-label no-padding lm-5" for="ids">交易订单号:</label>
									<div class="col-sm-9">
										<input type="text" id="payOrderId" class="form-control col-sm-5 input-sm" name="payOrderId">
									</div>
								</div>
								<div class="col-xs-12 col-sm-4">
									<label class="col-sm-3 control-label no-padding lm-5" for="outOrderId">商户订单号:</label>
									<div class="col-sm-9">
										<input type="text" id="outOrderId" class="form-control col-sm-5 input-sm" name="outOrderId">
									</div>
								</div>
								<div class="col-xs-12 col-sm-4">
									<label class="col-sm-3 control-label no-padding lm-5" for="merchantId">商户ID:</label>
									<div class="col-sm-9">
										<input type="text" id="merchantId" class="form-control col-sm-5 input-sm" name="merchantId">
									</div>
								</div>
								<div class="col-xs-12 col-sm-4">
									<label class="col-sm-3 control-label no-padding lm-5" for="merchantName">商户名称:</label>
									<div class="col-sm-9">
										<input type="text" id="merchantName" class="form-control col-sm-5 input-sm" name="merchantName">
									</div>
								</div>
								<div class="col-xs-12 col-sm-4">
									<div class="col-sm-3 no-padding"><label class="align-right no-padding lm-5" for="chargeTypeInt">支付渠道:</label></div>
									<div class="col-sm-9">
										<select class="form-control" id="payChannel"> 
											<option value="">全部</option>   
								        	<option value="CYBS">CYBS</option>
								        	<option value="PAYPAL">PayPal</option>
								        	<option value="FORTUMO">Fortumo</option>
								        	<option value="AMX">AMX</option>
								        	<option value="TIMWE">Timwe</option>
								        	<option value="IFREE">Ifree</option>
								        	<option value="MCOIN">MCOIN</option>
								     	 </select>
									</div>
								</div>
								<div class="col-xs-12 col-sm-4">
									<div class="col-sm-3 no-padding"><label class="align-right no-padding lm-5" for="chargeTypeInt">支付币种:</label></div>
									<div class="col-sm-9">
										<select class="form-control" id="currencyType"> 
											<option value="">全部</option>   
								        	<option value="USD">美元</option>
								        	<option value="EUR">欧元</option>
								        	<option value="CNY">人民币</option>
											<option value="RUB">卢布</option>
											<option value="MXN">比索</option>
								     	 </select>
									</div>
								</div>
								<div class="col-xs-12 col-sm-4">
									<div class="col-sm-3 no-padding"><label class="align-right no-padding lm-5" for="payStatus">订单状态:</label></div>
									<div class="col-sm-9">
										<select class="form-control" id="payStatus"> 
											<option value="">全部</option>
											<option value="0">待付款</option>   
								        	<option value="1">全款已支付</option>
								        	<option value="2">部分已支付</option>
								        	<option value="3">付款失败</option>
								        	<option value="4">付款中</option>
								        	<option value="5">退款中</option>
								        	<option value="6">退款失败</option>
								        	<option value="7">退款成功</option>
								        	<option value="8">订单关闭</option>
								     	 </select>
									</div>
								</div>
								<div class="col-xs-12 col-sm-4  lm-5">
									 <label class="col-sm-3 no-padding">支付开始时间:</label>
									 <div class="col-sm-9">
                                         <div class="col-sm-12">
                                            <div class="input-group">
                                                <input type="text" class="input-sm form-control datepicker" id="startDate" name="startPayBeginTime" placeholder="from" data-date-format="yyyy-mm-dd" />
                                                <label for="startDate" class="input-group-addon"><i class="fa fa-calendar bigger-110"></i></label>
                                                <span class="input-group-addon" style="background:none; border:0 none; padding-left:3px; padding-right:3px;">-</span>
                                                <input type="text" class="input-sm form-control datepicker" name="startPayEndTime" id="endDate" placeholder="to" data-date-format="yyyy-mm-dd" />
                                                <label for="endDate" class="input-group-addon"><i class="fa fa-calendar bigger-110"></i></label>
                                          </div>
                                      </div>
									 </div>
								</div>
								<div class="col-xs-12 col-sm-4 lm-5">
									 <label class="col-sm-3 no-padding">支付结束时间:</label>
									 <div class="col-sm-9">
									  <div class="col-sm-12">
									  	<div class="input-group"><input type="text" class="input-sm form-control datepicker" name="payOverBeginTime" id="payOverBeginTime" placeholder="from" data-date-format="yyyy-mm-dd" /><label for="payOverBeginTime" class="input-group-addon"><i class="fa fa-calendar bigger-110"></i></label>
									  		<span class="input-group-addon" style="background:none; border:0 none; padding-left:3px; padding-right:3px;">-</span>
									  <input type="text" class="input-sm form-control datepicker" name="payOverEndTime" id="payOverEndTime" placeholder="to" data-date-format="yyyy-mm-dd" /><label for="payOverEndTime" class="input-group-addon"><i class="fa fa-calendar bigger-110"></i></label>
									  </div></div>
									 </div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-9">
									<button id="query-btn" class="btn btn-info btn-sm" type="button">
										<i class="ace-icon fa fa-check bigger-110"></i>
										查询
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			</div><!-- end search box row -->

			<div class="row">
				<div id="grid_list" class="col-xs-12">
				</div>
			</div><!-- end grid row-->
		</div>
		</div>
	</div>
</div>
<div id="mask" class="widget-box-overlay hide"></div>


<%- include('public/footscript1') %>
<%- include('public/footscript2') %>

<script src='<%-setting.filePath%>/js/jquery-ui.custom.min.js'></script>
<script src='<%-setting.filePath%>/js/moment.min.js'></script>
<script src='<%-setting.filePath%>/js/bootstrap-datepicker.min.js'></script>
<script src='<%-setting.filePath%>/js/bootstrap-datetimepicker.min.js'></script>
<script src='<%-setting.filePath%>/js/jquery.jqGrid.min.js'></script>
<script src='<%-setting.filePath%>/js/grid.locale-cn.js'></script>
<script src='<%-setting.filePath%>/js/bootstrap-switch.min.js'></script>

<!-- process enter -->
<script>
seajs.use('order', function(m){
	m.init();
});
</script>
<%- include('public/footer') %>